/* Your styles goes here. */
.layout {
  height: 100vh !important;

  .header {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1;
    padding: 0 24px;

    .logo {
      height: 38px;
      width: 160px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      display: flex;
      place-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .contentWrapper {
    padding: 0 24px;
  }

  .footer {
    text-align: center;
  }
}
